button
{
	padding: 0;
    background: transparent;
    border: 0;
}
#r,
#p,
#s
{
	width: 100px;
	height: 100px;
}
#r
{
	background-image : url(./img/rock.png);
	background-size: contain;
}
#p
{
	background-image : url(./img/paper.png);
	background-size: contain;
}
#s
{
	background-image : url(./img/scissors.png);
	background-size: contain;
}
body {
	background-image: url("./img/background.png");
   }
p
{
	color: black;
	background-color: white;
}
#pics{
    width:100px; /* you can use % */
    height: auto;
	background-color: transparent;
}
#imgRes
{
	background-color: transparent;
}